.mgwt-ImageButton{
	border: 0px none transparent;
	background-color: transparent;
	border-radius:0px;
	width:100%;
}

.mgwt-ImageButton-image{
	background-color: #65CC00;
}

.mgwt-ImageButton-text{
	padding-left: 10px;
	padding-right: 10px;
}