@def DARK_GREEN #008000;
@def ICON_BACKGROUND_COLOR DARK_GREEN;
@def ICON_BACKGROUND_COLOR_ACTIVE #FFFFFF;

.mgwt-ImageButton{
	border: 0px none transparent;
	background-color: transparent;
	border-radius:0px;
	box-shadow: none;
}

.mgwt-ImageButton-small{
	background-color: DARK_GREEN;
}

.mgwt-ImageButton-image{
	background-color: DARK_GREEN;
	margin: 0 auto;
}

.mgwt-ImageButton-text{
	color: DARK_GREEN;
}